html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.ico_file {
    display: block;
    background-image: url(../images/ico_file.gif) ;
    float: left;
    width: 30px;
    height: 26px;
}
.ico_file_1{
    background-position-x: 38px;
}

/* */
.ico_file_2{
    background-position-x: 69px;
}/* */
.ico_file_3{
    background-position-x: 101px;
}/* */
.ico_file_4{
    background-position-x: 133px;
}/* */
.ico_file_5{
    background-position-x: 165px;
}/* */
.ico_file_6{
    background-position-x: 198px;
}/* */
.ico_file_7{
    background-position-x: 229px;
}/* */
.ico_file_8{
    background-position-x: 260px;
}/* */
.ico_file_9{
    background-position-x: 293px;
}/* */
.ico_file_10{
    background-position-x: 324px;
}/* */
.ico_file_11{
    background-position-x: 357px;
}/* */
.ico_file_12{
    background-position-x: 388px;
}/* */
.ico_file_13{
    background-position-x: 421px;
}/* */
.ico_file_14{
    background-position-x: 453px;
}/* */
.ico_file_15{
    background-position-x: 484px;
}/* */
.ico_file_16{
    background-position-x: 517px;
}/* */
.ico_file_17{
    background-position-x: 550px;
}

.share-bar {
    border: 1px solid #FBD0B2;
    border-radius: 3px;
    margin: 10px 5px;
    padding-left: 10px;
    height: 45px;
    line-height: 45px;
    background: wheat;
    margin-top: 60px;
}
.share-bar .share-hint {
    float: left;
    font-size: 16px;
    line-height: 42px;
    color: #E12160;
}

.user-seach {
    min-height: 100px;
    margin-top: 10px;
}
.user-seach li {
    float: left;
    height: 30px;
    color: rgb(94, 124, 90);
    margin-right: 10px;
    margin-top: 10px;
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(202, 225, 199);
    border-image: initial;
    padding: 5px 10px 3px !important;
}

.sidebar-panel .panel-heading{
    padding: 0px;
    padding-top: 10px;
}
.cat-list {
    margin-bottom: 1px;
}
.panel{
    margin: 10px 0px;
}